* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 20px;
}

.container {
    max-width: 450px;
    margin: 0 auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    padding: 20px;
    position: relative;
}

.radio {
    margin-bottom: 10px;
    position: relative;
}

label {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    width: 100%;
}

input[type="radio"] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

input[type="radio"]:checked + label {
    background-color: #007bff;
    color: #fff;
}